html {
    height: 100%;

}

body {
    height: 100%;
    margin:0;
    padding:0;
    background-image: url("../dominos.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: arial;
    color: indianred;
}

#balk {
    text-align: center;
    font-size: 90px;
    color: blue;
    border-style: solid;
    margin-left: 32%;
    margin-right: 32%;
    border-radius: 100px;
    border-color:red;
    border-width: 8px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li {
    float: left;
    width: 300px;
    height: 40px;
    background-color:#222;
    opacity: 40%;
}

a {
    color: white;
    text-decoration: none;
    opacity: 100%;
}