html {
    height: 100%;

}

body {
    background-color: indianred;
    height: 100%;
    margin:0;
    padding:0;
}

#balk {
    background-color: aquamarine;
    width: 80;
    height:15%;
    text-align: center;
    font-size: 70px;
}

#container {
    background-color: blue;
    widows:80%;
    height:75%;
    display: flex;

}

#sjoerd {
    background-color: blue;
    width: 20%;
    height: 100%
}

#kaas {
    width: 60%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.blijmetsjoerd {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left:0;right:0;bottom:0;
    object-fit: cover;
    z-index: 0;
}

.boodschap {
    margin-left: 20px;
    background-color: aquamarine;
    border-style: solid;
    border-radius: 20px;
    margin: 30px;
    text-align: center;
     margin-right: 27%;
     margin-left: 27%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  display: inline-block;
}

li a {
  display: inline-block; 
  color: red;
  padding: 8px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: #555;
  color: white;
  float: left;
}

.menubalk {
    display: inline-block;
}